<h1 style="text-align: center">Mountains</h1>
<p style="text-align: center">
  <a class="btn btn-secondary" href="/mountains/new">New Mountain</a>
</p>

<div class="row">
  <% @mountains.each do |mountain| %>
  <div class="col-lg-4 rounded" style="padding: 10px">
    <div class="card text-left" style="background-color: rgb(191, 208, 219)">
      <div class="card-header" style="background-color: rgb(59, 87, 105)">
        <img
          class="card-img-top"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Bear_Digging_and_Denali_%2811330360484%29.jpg/1280px-Bear_Digging_and_Denali_%2811330360484%29.jpg
        "
          alt="Card image cap"
        />
        <h5 style="padding-top: 8px" class="card-title"><%=mountain.name%></h5>
        <hr
          class="float-left"
          style="
            color: rgb(105, 0, 0);
            border: 2px solid rgb(112, 0, 0);
            width: 50%;
          "
        />
      </div>
      <div class="card-body" style="background-color: rgb(217, 221, 222);">
        <p class="card-text float:left" style="color: rgb(92, 95, 88)">
          Height (m): <%=mountain.height_m %> <br />
          Can it be skied? <br />
          <%= mountain.skiable == true ? " of course!" : " No way!" %>
        </p>
      </div>
      <div class="card-footer" style="background-color: rgb(217, 221, 222)">
        <a class="btn btn-primary float-left" href="/mountains/<%=mountain.id%>"
          >See Details</a
        >
        <%= button_to "delete","/mountains/#{mountain.id}", method: :delete,
        :class => "btn btn-danger float-right", data: { confirm: 'Are you sure?'
        }%>
      </div>
    </div>
  </div>
  <% end %>
</div>

<table class="table table-bordered">
  <tr>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Edit</th>
    <th style="text-align: center">Height (M)</th>
    <th style="text-align: center">Skiable?</th>
    <th style="text-align: center">delete</th>
  </tr>
  <% @mountains.each do |mountain| %>
  <tr>
    <td style="text-align: center">
      <%= link_to "#{mountain.name}", "/mountains/#{mountain.id}"%>
    </td>
    <td style="text-align: center">
      <a id="edit<%=mountain.id%>" href="/mountains/<%=mountain.id%>/edit"></a>
    </td>
    <td style="text-align: center"><%= mountain.height_m%></td>
    <td
      style="text-align: center"
      class="<%= mountain.skiable == true ? 'bg-success' : 'bg-danger' %>"
    >
      <%= mountain.skiable%>
    </td>
    <td style="text-align: center" id="delete<%=mountain.id%>">
      <%= button_to "delete","/mountains/#{mountain.id}", method: :delete,
      :class => "btn btn-danger", data: { confirm: 'Are you sure?' }%>
    </td>
  </tr>
  <% end %>
</table>
