<h1>Nba Teams</h1>
<% @nbateams.each do |nbateam| %>
<h3><%= nbateam.city%>  <%= nbateam.name %></h3> 
<p>Roster Size: <%= nbateam.number_of_players %></p>
<p>Going to the Playoffs: <%= nbateam.playoff_ready %></p> 
<p>Created at: <%= nbateam.created_at %></p> 
<p>Current Roster: <%= nbateam.players.count %></p>
<% end %>