<a href="/players">Player Index</a>

<h1><%= @player.name %><h1>
<p>Position: <%= @player.position %></p>
<p>Age: <%= player.age%></p>
<p>Height: <%= @player.height %></p>
<p>Injury status: <%= @player.injured %></p>

